<%= link_to "Farms Index", "/farms" %>
<%= link_to "Crops Index", "/crops" %>
<%= link_to "Ranches Index", "/ranches" %>
<%= link_to "Cows Index", "/cows" %>

<h1> Welcome to Farms </h1>

<% @farms.each do |farm| %>
  <h3><%= farm.name %></h3>
  <p>Created at: <%= farm.created_at %></p>
  <p><%= button_to "Edit #{farm.name}", "/farms/#{farm.id}/edit", method: :get %></p>
  <p><%= button_to "Delete #{farm.name}", "/farms/#{farm.id}", method: :delete %></p>
<% end %>

<%= link_to "New Farm", "/farms/new" %>
