<%= link_to "Farms Index", "/farms" %>
<%= link_to "Crops Index", "/crops" %>
<%= link_to "Ranches Index", "/ranches" %>
<%= link_to "Cows Index", "/cows" %>

<h1><%= @farm.name %></h1>
<p>Acres: <%= @farm.acres %></p>
<p>Organic?: <%= @farm.organic %></p>
<p>Created At: <%= @farm.created_at %></p>
<p>Updated At: <%= @farm.updated_at %></p>
<p>ID: <%= @farm.id %></p>
<p>Number of Crops: <%= @farm.crops_count %></p>


<%= link_to "Visit #{@farm.name}'s Crops", "/farms/#{@farm.id}/crops" %>

<%= button_to "Edit #{@farm.name}", "/farms/#{@farm.id}/edit", method: :get %>
