<h1><%= @farm.name %></h1>

<p>Acres: <%= @farm.acres %></p>
<p>Organic?: <%= @farm.organic %></p>
<p>Created At: <%= @farm.created_at %></p>
<p>Updated At: <%= @farm.updated_at %></p>
<p>ID: <%= @farm.id %></p>
<p>Number of Crops: <%= @farm.crops.length %></p>
