<h1> <%= @farm.name %> </h1>
<p><%= button_to "Alphabetical", "/farms/#{@farm.id}/crops", params: {alphabetical: true}, method: :get %></p>

<%= form_with url: "/farms/#{@farm.id}/crops", method: :get, local: true do |form| %>
  <p>
    <%= form.label :yield_threshold %>
    <%= form.number_field :yield_threshold %>
  </p>
  <p>
    <%= form.submit  "Only show crops with more than above bushels of yield"  %>
  </p>
<% end %>

<% @crops.each do |crop| %>
  <h3><%= crop.name %></h3>
  <p>Yield: <%= crop.yield %> bushels</p>
  <p>Annual?: <%= crop.annual %></p>
  <p>Farm ID: <%= crop.farm_id %></p>
  <p>Updated At: <%= crop.updated_at %></p>
  <p>Created At: <%= crop.created_at %></p>
  <p>ID: <%= crop.id %></p>
  <p><%= button_to "Edit #{crop.name}", "/crops/#{crop.id}/edit", method: :get %></p>

<% end %>

<%= link_to "New #{@farm.name} Crop", "/farms/#{@farm.id}/crops/new" %>
