<%= link_to "Farms Index", "/farms" %>
<%= link_to "Crops Index", "/crops" %>
<%= link_to "Ranches Index", "/ranches" %>
<%= link_to "Cows Index", "/cows" %>

<h1>Welcome to Ranches</h1>
<% @ranches.each do |ranch| %>
  <h3><%= ranch.name %></h3>
  <p>Created at: <%= ranch.created_at %></p>
  <p><%= button_to "Edit #{ranch.name}", "/ranches/#{ranch.id}/edit", method: :get %></p>
<% end %>

<%= link_to "New Ranch", "ranches/new" %>
