<%= link_to "Farms Index", "/farms" %>
<%= link_to "Crops Index", "/crops" %>
<%= link_to "Ranches Index", "/ranches" %>
<%= link_to "Cows Index", "/cows" %>

<h1><%= @ranch.name %></h1>
<p>Number of Cows: <%= @ranch.cows_count %></p>
<p>Id: <%= @ranch.id %></p>
<p>Max Capacity: <%= @ranch.max_capacity %></p>
<p>Certified Humane: <%= @ranch.certified_humane %></p>
<p>Created at: <%= @ranch.created_at %></p>
<p>Updated at: <%= @ranch.updated_at %></p>

<a href="/ranches/<%= @ranch.id %>/cows">Visit <%= @ranch.name %>'s Cows</a>
