<a href="/farms">Farms Index</a>
<a href="/crops">Crops Index</a>
<a href="/ranches">Ranches Index</a>
<a href="/cows">Cows Index</a>

<h1><%= @ranch.name %></h1>
<p>Number of Cows: <%= @ranch.cows.count %></p>
<p>Id: <%= @ranch.id %></p>
<p>Max Capacity: <%= @ranch.max_capacity %></p>
<p>Certified Humane: <%= @ranch.certified_humane %></p>
<p>Created at: <%= @ranch.created_at %></p>
<p>Updated at: <%= @ranch.updated_at %></p>
