<h1><%= @ranch.name %></h1>
<p>Id: <%= @ranch.id %></p>
<p>Max Capacity: <%= @ranch.max_capacity %></p>
<p>Certified Humane: <%= @ranch.certified_humane %></p>
<p>Created at: <%= @ranch.created_at %></p>
<p>Updated at: <%= @ranch.updated_at %></p>
