<%= form_with url: "/crops/#{@crop.id}", method: :patch, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :yield %>
    <%= form.number_field :yield %>
  </p>
  <p>
    <%= form.label :annual %>
    <%= form.check_box :annual %>
  </p>
  <p>
    <%= form.submit 'Update Crop' %>
  </p>
<% end %>
