<%= link_to "Farms Index", "/farms" %>
<%= link_to "Crops Index", "/crops" %>
<%= link_to "Ranches Index", "/ranches" %>
<%= link_to "Cows Index", "/cows" %>

<h1>All Crops</h1>

<% @crops.each do |crop| %>
  <h3><%= crop.name %></h3>
  <p>Yield: <%= crop.yield %> bushels</p>
  <p>Annual?: <%= crop.annual %></p>
  <p>Farm ID: <%= crop.farm_id %></p>
  <p>Updated At: <%= crop.updated_at %></p>
  <p>Created At: <%= crop.created_at %></p>
  <p>ID: <%= crop.id %></p>
  <p><%= button_to "Edit #{crop.name}", "/crops/#{crop.id}/edit", method: :get %></p>
  <p><%= button_to "Delete #{crop.name}", "/crops/#{crop.id}", method: :delete %></p>

<% end %>
