<a href="/farms">Farms Index</a>
<a href="/crops">Crops Index</a>
<a href="/ranches">Ranches Index</a>
<a href="/cows">Cows Index</a>

<h1>All Crops</h1>

<% @crops.each do |crop| %>
  <h3><%= crop.name %></h3>
  <p>Yield: <%= crop.yield %> bushels</p>
  <p>Annual?: <%= crop.annual %></p>
  <p>Farm ID: <%= crop.farm_id %></p>
  <p>Updated At: <%= crop.updated_at %></p>
  <p>Created At: <%= crop.created_at %></p>
  <p>ID: <%= crop.id %></p>
<% end %>
