<h1><%= @cow.name %></h1>
<p>Age: <%= @cow.age %></p>
<p>Grass fed?: <%= @cow.grass_fed %></p>
<p>Ranch id: <%= @cow.ranch_id %></p>
<p>Created at: <%= @cow.created_at %></p>
<p>Updated at: <%= @cow.updated_at %></p>
